/* Error: $color: spin(#dff0d8, -10) is not a color.
 *     ,
 * 491 | $state-success-border:           darken(spin($state-success-bg, -10), 5%);
 *     |                                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   www/css/themes/scss/style/style.scss 491:34  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: spin(#dff0d8, -10) is not a color.\a     \2577 \a 491 \2502  $state-success-border:           darken(spin($state-success-bg, -10), 5%);\a     \2502                                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   www/css/themes/scss/style/style.scss 491:34  root stylesheet";
}
