# MariaDB Configuration
MARIADB_ROOT_PASSWORD=root123
CYTUBE_MARIADB_PASSWORD=cytube123
MARIADB_PORT=3306

# Coolhole Application
COOLHOLE_URL=localhost
COOLHOLE_TITLE=Coolhole Dev
COOLHOLE_DESC=Coolhole Development

# API Keys (leave as "null" for development, set in production)
YOUTUBE_V3_API_KEY=null
TWITCH_CLIENT_ID=null

# Node Environment
NODE_ENV=development

# Debug for pug templates to auto refresh
DEBUG=true