mixin navheader()
  .navbar-header
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#nav-collapsible")
      span.ri-menu-line
    a.navbar-brand(href="/")= siteTitle

mixin navdefaultlinks()
  li
    a.nav-link(href="/") Home
  li.dropdown
    a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown") Account
      b.caret
    ul.dropdown-menu
      if loggedIn
        li: a(href="javascript:$('#logoutform').submit();") Log out
        li.divider
        li: a(href="/account/channels") Channels
        li: a(href="/account/profile") Profile
        li: a(href="/account/edit") Change Password/Email
        li: a(href="/account/delete") Delete Account
      else
        li: a(href="/login") Login
        li: a(href="/register") Register

mixin navsuperadmin(newTab)
  if superadmin
    if newTab
      li: a.nav-link(href="/acp", target="_blank") ACP
    else
      li: a.nav-link(href="/acp") ACP

mixin navloginlogout()
  if loggedIn
    +navlogoutform()
  else
    +navloginform()

mixin navloginform()
  .visible-lg
    form#loginform.form-inline(action="/login", method="post")
      .checkbox
        label
          input(type="checkbox", name="remember")
          span.navbar-text-nofloat Remember me
      .input-group
        input(type="hidden", name="_csrf", value=csrfToken)
        input#username.form-control(type="text", name="name", placeholder="Username")
        input#password.form-control(type="password", name="password", placeholder="Password")
        button#login.btn.btn-default(type="submit") Login
  .visible-md
    p#loginform.navbar-text.pull-right
      a#login.navbar-link(href="/login") Log in
      span &nbsp;&middot;&nbsp;
      a#register.navbar-link(href="/register") Register


mixin navlogoutform()
  form#logoutform.navbar-text.pull-right(action="/logout", method="post")
    input(type="hidden", name="_csrf", value=csrfToken)
    span#welcome Welcome, #{loginName}
    span &nbsp;&middot;&nbsp;
    input#logout.navbar-link(type="submit", value="Log out")

