mixin sociallinks()
    li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown") Socials
            b.caret 
        ul.dropdown-menu
            li: a(href="https://www.patreon.com/broteam"): svg.ch-icon(viewbox="0 0 12 12"): use(href="#ch-icon-social-patreon")
            li: a(href="https://twitter.com/getincoolhole"): svg.ch-icon(viewbox="0 0 12 12"): use(href="#ch-icon-social-patreon")
            li: a(href="https://videos.coolhole.org/"): img(src="https://i.ibb.co/WvRzgxV/pill.png")
            li: a(href="https://streamlabs.com/broteam/tip"): img(src="https://i.ibb.co/N1Xdg02/moneypill.png")
            li: a(href="https://hole.gold/"): img(src="https://i.ibb.co/qjhRkDJ/output-onlinegiftools-4.gif")
            li: a(href="https://discord.gg/gh25Pe8eaK"): img(src="https://i.ibb.co/bNvtgSc/discord-transparent-server-icon-12.png")