mixin sociallinks()
    li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown") Socials
            b.caret 
        ul#socialsmenu.dropdown-menu
            li: a#patreonlink(href="https://www.patreon.com/broteam"): span: svg.ch-icon(viewbox="0 0 24 24"): use(href="#ch-icon-social-patreon")
                span.ch-nav-text Patreon
            li: a#twitterlink(href="https://twitter.com/getincoolhole"): span: svg.ch-icon(viewbox="0 0 24 24"): use(href="#ch-icon-social-twitter")
                span.ch-nav-text Twitter
            li: a#donatelink(href="https://streamlabs.com/broteam/tip"): span: svg.ch-icon(viewbox="0 0 24 24"): use(href="#ch-icon-social-donate")
                span.ch-nav-text Donate
            li: a#videoslink(href="https://videos.coolhole.org/"): span: svg.ch-icon(viewbox="0 0 24 24"): use(href="#ch-icon-social-videos")
                span.ch-nav-text Videos
            li: a#goldholelink(href="https://hole.gold/"): span: svg.ch-icon-anim(viewbox="0 0 28 24"): use(href="#ch-icon-social-gold")
                span.ch-nav-text Gold.hole
            li: a#discordlink(href="https://discord.gg/gh25Pe8eaK"): span: svg.ch-icon(viewbox="0 0 24 24"): use(href="#ch-icon-social-discord")
                span.ch-nav-text Discord