mixin sociallinks()
    li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown") Socials
            b.caret 
        ul.dropdown-menu
            li: a(href="https://www.patreon.com/broteam"): svg.ch-icon(viewbox="0 0 24 24"): use(href="/svg/coolhole-icons.svg#ch-icon-social-patreon") Patreon
            li: a(href="https://twitter.com/getincoolhole"): svg.ch-icon(viewbox="0 0 24 24"): use(href="/svg/coolhole-icons.svg#ch-icon-social-twitter") Twitter
            li: a(href="https://videos.coolhole.org/"): span: svg.ch-icon(viewbox="0 0 24 24"): use(href="/svg/coolhole-icons.svg#ch-icon-social-pill") Videos
            li: a(href="https://streamlabs.com/broteam/tip"): span: svg.ch-icon(viewbox="0 0 24 24"): use(href="/svg/coolhole-icons.svg#ch-icon-social-donate") Donate
            li: a(href="https://hole.gold/"): span: svg.ch-icon(viewbox="0 0 24 24"): use(href="/svg/coolhole-icons.svg#ch-icon-social-golds") Golds
            li: a(href="https://discord.gg/gh25Pe8eaK"): span: svg.ch-icon(viewbox="0 0 24 24"): use(href="/svg/coolhole-icons.svg#ch-icon-social-discord") 