/* These are extra css classes for coolhole features */

/* Gold plating */
.text-lottery,
.text-lottery a {
  font-weight: bold;
  background-image: repeating-linear-gradient(
    4deg,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  color: transparent;
  background-clip: text;

  animation-name: gold;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes gold {
  0% {
    background-position: -15em;
  }
  100% {
    background-position: 10em;
  }
}

/* shrink text on 'coolhole1' text anywhere in the chat message */
#messagebuffer div[data-text*="coolhole1"] {
  font-size: 0px;
  -webkit-animation: shrink 5s;
  -moz-animation: shrink 5s;
  -ms-animation: shrink 5s;
  -o-animation: shrink 5s;
  animation: shrink 5s;
}
@keyframes shrink {
  from {
    font-size: inherit;
  }
  to {
    font-size: 0px;
  }
}
@-moz-keyframes shrink {
  from {
    font-size: inherit;
  }
  to {
    font-size: 0px;
  }
}
@-webkit-keyframes shrink {
  from {
    font-size: inherit;
  }
  to {
    font-size: 0px;
  }
}
@-ms-keyframes shrink {
  from {
    font-size: inherit;
  }
  to {
    font-size: 0px;
  }
}
@-o-keyframes shrink {
  from {
    font-size: inherit;
  }
  to {
    font-size: 0px;
  }
}

/* Rainbow effect on 'european' anywhere in the chat message */
#messagebuffer [data-text*="european"] {
  -webkit-animation: rainbow 5;
  -moz-animation: rainbow 5s;
  -ms-animation: rainbow 5s;
  -o-animation: rainbow 5s;
  animation: rainbow 5s;
  animation-iteration-count: infinite;
}
@keyframes rainbow {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
@-moz-keyframes rainbow {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
@-webkit-keyframes rainbow {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
@-ms-keyframes rainbow {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
@-o-keyframes rainbow {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

/* Fast rainbow effect on gold + 'european' anywhere in the chat message */
#messagebuffer .text-lottery[data-text*="european"] {
  -webkit-animation: rainbow 0.5s;
  -moz-animation: rainbow 0.5s;
  -ms-animation: rainbow 0.5s;
  -o-animation: rainbow 0.5s;
  animation: rainbow 0.5s;
  animation-iteration-count: infinite;
}

/* Fast rainbow effect on danmu + gold + 'european' anywhere in the chat message */
.danmu .text-lottery[data-text*="european"] {
  -webkit-animation: rainbow 0.5s;
  -moz-animation: rainbow 0.5s;
  -ms-animation: rainbow 0.5s;
  -o-animation: rainbow 0.5s;
  animation: rainbow 0.5s;
  animation-iteration-count: infinite;
}

/* Used for returnFire emote effect */
.shotKilled {
  color: red;
  opacity: 0;
  -webkit-animation: fade 2s;
  -moz-animation: fade 2s;
  -ms-animation: fade 2s;
  -o-animation: fade 2s;
  animation: fade 2s;
}

@keyframes fade {
  from {
    opacity: inherit;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade {
  from {
    opacity: inherit;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: inherit;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fade {
  from {
    opacity: inherit;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fade {
  from {
    opacity: inherit;
  }
  to {
    opacity: 0;
  }
}

/* Flip emotes horizontally*/
.channel-emote[title="/flip"] + .channel-emote {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Forces all giant emotes to only take max 100px in the chat */
.channel-emote {
  max-height: 100px;
}

/* Used in overlapping emote logic  */
.emote-overlap {
  position: absolute;
}

/* Coolpoints option styling */

.cp-option-action-label {
  text-align: right;
}

.cp-option-form {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-items: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5rem;
}
.cp-option-form:hover {
  background-color: hsla(0, 0%, 100%, 0.05);
}
.cp-option-subheader {
  text-align: center;
  font-weight: bold;
}
.cp-option-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.cp-option-form-group {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cp-option-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cp-option-label {
  -webkit-box-flex: 0.3;
  -ms-flex: 0.3;
  flex: 0.3;
}
.cp-option-input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.cp-option-timeinput {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* Migrated over from old coolhole. These are used for various icons across the site. */
.ch-icon {
  width: 24px;
  height: 24px;
  fill: #dcdedd;
}
.ch-icon-anim {
  width: 28px;
  height: 24px;
  fill: #dcdedd;
}
.ch-icon.warning {
  fill: #e03e40;
}
.ch-icon.success {
  fill: #1a936f;
}
.ch-icon.info {
  fill: #4b9eb6;
}
.ch-icon.input-group-addon-icon {
  width: 22px;
  height: 22px;
}
.ch-icon .job-icon .job-icon-bg .job-icon-citizen {
  fill: #3b7b8e;
  stroke: #f2f4f3;
}
.ch-icon .job-icon .job-icon-bg .job-icon-scitizen {
  fill: #e03e40;
  stroke: #f2f4f3;
}
.ch-icon .job-icon .job-icon-bg .job-icon-skeleton {
  fill: #13171a;
  stroke: #f2f4f3;
}
.ch-icon .job-icon .job-icon-person {
  fill: #f2f4f3;
}
.ch-icon .job-icon .job-icon-symbol .job-icon-skeleton {
  fill: #f2f4f3;
}
.ch-cp {
  height: 18px;
  width: 18px;
}
/* For the logo to be displayed on the nav */
.ch-brand {
  width: 120px;
  height: 40px;
  fill: #fff;
}
/* Spacing for the text next to the icons */
.ch-nav-text {
  margin-left: 10px;
}

.drink {
  background-image: url("../img/beer.avif");
  padding-left: 5px;
  margin: 0;
  height: 60px;
  border: 1px;
  font-size: 30px;
  > * {
    font-weight: bolder;
    color: #351200;
  }
}

/* CoolPoints User Styling */
#coinWrapper {
  display: flex;
  grid-gap: 3px;
  gap: 3px;
}
#coinAmt::after {
  content: " CP";
}
#coinMsg {
  opacity: 0%;
}
.cpBounce {
  -webkit-animation: bounce 0.8s ease-in-out 0s 1 normal none;
  animation: bounce 0.8s ease-in-out 0s 1 normal none;
}
@-webkit-keyframes bounce {
  0%,
  35%,
  55%,
  75%,
  100% {
    -webkit-transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-8px);
  }
  40% {
    -webkit-transform: translateY(-4px);
  }
  60% {
    -webkit-transform: translateY(-2px);
  }
}
@keyframes bounce {
  0%,
  35%,
  55%,
  75%,
  100% {
    -webkit-transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-8px);
  }
  40% {
    -webkit-transform: translateY(-4px);
  }
  60% {
    -webkit-transform: translateY(-2px);
  }
}
.cpShake {
  -webkit-animation: shake 0.8s ease-in-out 0s 1 normal none;
  animation: shake 0.8s ease-in-out 0s 1 normal none;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  90% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  90% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
.cpFadeIn {
  -webkit-animation: fadeIn 1.3s ease-in-out 0s 1;
  animation: fadeIn 1.3s ease-in-out 0s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.cpFadeGreen {
  -webkit-animation: fade 1.3s ease-in-out 0s 1;
  animation: fade 1.3s ease-in-out 0s 1;
  color: #009900;
}
.cpFadeRed {
  -webkit-animation: fade 1.3s ease-in-out 0s 1;
  animation: fade 1.3s ease-in-out 0s 1;
  color: #e03e40;
}
@-webkit-keyframes fade {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes fade {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.ch-icon.ch-cp::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='ch-icon-ui-coin' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 0C18.6275 0 24 5.37253 24 12C24 18.6275 18.6275 24 12 24C5.37253 24 -1.2517e-06 18.6275 -1.2517e-06 12C-1.2517e-06 5.37253 5.37253 0 12 0Z' fill='%23F8C341'/%3E%3Cpath d='M12 2.66666C17.1547 2.66666 21.3333 6.84532 21.3333 12C21.3333 17.1547 17.1547 21.3333 12 21.3333C6.84534 21.3333 2.66668 17.1547 2.66668 12C2.66668 6.84532 6.84534 2.66666 12 2.66666Z' fill='%23CE8C00'/%3E%3Cpath d='M4.42132 4.82401L2.94932 5.29334L4.13865 6.28001L4.60798 7.75201L5.59465 6.56267L7.06665 6.09067L5.87732 5.10401L5.40798 3.63467L4.42132 4.82401Z' fill='%23FFED9A'/%3E%3Cpath d='M2.31733 9.552L1.79466 10.328L2.73066 10.3493L3.50666 10.872L3.52799 9.936L4.05066 9.16L3.11466 9.13866L2.33599 8.616L2.31733 9.552Z' fill='%23FFED9A'/%3E%3Cpath d='M8.74491 12.1445C8.74491 10.4221 10.1129 9.01498 11.8363 8.92071L12.2421 6.69H8.5237L6.58694 17.3372H10.3053L10.7113 15.1051C10.1269 14.8539 9.62959 14.44 9.28029 13.9141C8.93098 13.3882 8.74491 12.7732 8.74491 12.1445V12.1445Z' fill='%23F8C341'/%3E%3Cpath d='M13.8468 6.69L13.3884 9.20979C13.9578 9.46762 14.4403 9.88118 14.7785 10.4014C15.1168 10.9216 15.2965 11.5266 15.2965 12.1445C15.2965 13.8455 13.9622 15.2394 12.2689 15.3643L11.91 17.3372H15.6284L17.5652 6.69H13.8468Z' fill='%23F8C341'/%3E%3Cpath d='M10.759 10.7686C10.759 10.5684 11.0003 10.4433 11.1931 10.5435L13.8238 11.908C14.0166 12.0082 14.0166 12.2583 13.8238 12.3583L11.1931 13.7229C11.0003 13.8231 10.759 13.6979 10.759 13.4977V10.7686Z' fill='%23F8C341'/%3E%3C/svg%3E");
}

.cp-table-points-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%; /* Override cytube's max width */
}

.cp-table-points {
  flex-grow: 1;
}

.cp-table-points-msg {
  opacity: 0;
  flex-grow: 3;
}

.cp-table-user-fates-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.cp-table-user-fates-wrapper input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.cp-table-user-fates-wrapper button.btn-pts-give {
  width: 50%;
  color: #32c839; /* Replace with less */
  border: 1px solid #32c839; /* Replace with less */
}

.cp-table-user-fates-wrapper button.btn-pts-take {
  width: 50%;
  color: #d22f29; /* Replace with less */
  border: 1px solid #d22f29; /* Replace with less */
}
