/* These are extra css classes for coolhole features */

/* Gold plating */
.text-lottery,
.text-lottery a {
    font-weight: bold;
    background-image: repeating-linear-gradient(
    4deg,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
    color: transparent;
    -webkit-background-clip: text;

    animation-name: gold;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-webkit-keyframes gold {
    0% {
    background-position: -15em;
    }
    100% {
    background-position: 10em;
    }
}

/* shrink text on 'coolhole1' text anywhere in the chat message */
#messagebuffer div[data-text*="coolhole1"] {
    font-size: 0px;
    -webkit-animation: shrink 5s;
    -moz-animation: shrink 5s;
    -ms-animation: shrink 5s;
    -o-animation: shrink 5s;
    animation: shrink 5s;
}
@keyframes shrink {
    from {
      font-size: inherit;
    }
    to {
      font-size: 0px;
    }
  }
  @-moz-keyframes shrink {
    from {
      font-size: inherit;
    }
    to {
      font-size: 0px;
    }
  }
  @-webkit-keyframes shrink {
    from {
      font-size: inherit;
    }
    to {
      font-size: 0px;
    }
  }
  @-ms-keyframes shrink {
    from {
      font-size: inherit;
    }
    to {
      font-size: 0px;
    }
  }
  @-o-keyframes shrink {
    from {
      font-size: inherit;
    }
    to {
      font-size: 0px;
    }
  }

/* Rainbow effect on 'european' anywhere in the chat message */
#messagebuffer [data-text*="european"] {
    -webkit-animation: rainbow 5;
    -moz-animation: rainbow 5s;
    -ms-animation: rainbow 5s;
    -o-animation: rainbow 5s;
    animation: rainbow 5s;
    animation-iteration-count: infinite;
}
@keyframes rainbow {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }
  @-moz-keyframes rainbow {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }
  @-webkit-keyframes rainbow {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }
  @-ms-keyframes rainbow {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }
  @-o-keyframes rainbow {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }

/* Fast rainbow effect on gold + 'european' anywhere in the chat message */
#messagebuffer .text-lottery[data-text*="european"] {
    -webkit-animation: rainbow 0.5s;
    -moz-animation: rainbow 0.5s;
    -ms-animation: rainbow 0.5s;
    -o-animation: rainbow 0.5s;
    animation: rainbow 0.5s;
    animation-iteration-count: infinite;
}

/* Fast rainbow effect on danmu + gold + 'european' anywhere in the chat message */
.danmu .text-lottery[data-text*="european"] {
    -webkit-animation: rainbow 0.5s;
    -moz-animation: rainbow 0.5s;
    -ms-animation: rainbow 0.5s;
    -o-animation: rainbow 0.5s;
    animation: rainbow 0.5s;
    animation-iteration-count: infinite;
}


/**********/
/* NAVBAR */
/**********/
.navbar {
  min-height: 0px;
  background-image: linear-gradient(#1b2125, #1b2125) !important;
}

a.navbar-brand {
  padding: 7px;
  height: 34px;
}

.navbar-nav>li>a {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12px;
  background-color: #1b2125;  
}

.navbar-text {
  margin-top: 7px;
  margin-bottom: 7px;
}

/* mobile navbar */
.navbar-toggle {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 1px;
}



/**********/
/* CHAT   */
/**********/
#chatwrap {
  padding-left: 0px;
  padding-right: 0px;
}

#chatheader {
  font-size: 14px;
  padding: 3px 8px;
  background-color: #1b2125;
  border-color: #1b2125;
}

#userlisttoggle {
  color: #78cbe4;
  padding-right:8px;
}

#usercount {
  font-weight: bold;
}

#userlist {
  background-color: #181e21;
  border: 1px solid #3d464b;;
  border-right-color: transparent;
  border-top-color: transparent;
}

#messagebuffer {
  background-color: #1d2428;
  border: 1px solid #3d464b;
  border-top-color: transparent;
}

/**********/
/* VIDEO  */
/**********/
#videowrap {
  padding-left: 0px;
  padding-right: 0px;
}

#videowrap-header {
  font-size: 14px;
  padding: 3px 8px;
  background-color: #1b2125;
  border-color: #1b2125;
}

#resize-video-smaller {
  padding-right: 4px;
  padding-top: 2px;
}

#resize-video-larger {
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 2px;
}

/**********/
/* QUEUE  */
/**********/
.queue_active, .queue_temp {
  background-color: #1d2428;
  background-image: none;
  background-repeat: no-repeat;
}

.queue_entry {
  border-color: #181e21;
}


/**********/
/* OTHER  */
/**********/
#mainpage {
  padding-top: 33px;
}


/************************/
/* Bootstrap overrides  */
/************************/
.form-control {
  border: 1px solid #181e21;
  background-color: #13171a;
  color: #dcdedd;
}

.form-control:focus{
  border-color:#66afe9;
}

.modal-dialog, .modal-header {
  background-color: #13171a;
}

.modal-content {
  position: relative;
  pointer-events: auto;
  background-color: #1b2125;
  background-clip: padding-box;
  border: 1px solid #1d2428;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0.25rem 0.5rem #13171a;
  box-shadow: 0 0.25rem 0.5rem #13171a;
}

.modal-body {
  background-color:#1d2428
}

.modal-footer {
  background-color: #13171a;
}

.nav-tabs > li > a {
  color: #5bc0de;
  background-color: #1d2428;
  border: 1px solid #1c1e22;
    border-bottom-color: rgb(28, 30, 34);
  border-bottom-color: transparent;
  cursor: default;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #5bc0de;
  background-color: #1d2428;
  border: 1px solid #1c1e22;
    border-bottom-color: rgb(28, 30, 34);
  border-bottom-color: transparent;
  cursor: default;
}